[submodule "FindMyHistory"]
	path = FindMyHistory
	url = https://github.com/fjxmlzn/FindMyHistory.git

[submodule "AirtagAlex"]
	path = AirtagAlex
	url = https://github.com/icepick3000/AirtagAlex.git

[submodule "openhaystack"]
	path = openhaystack
	url = https://github.com/seemoo-lab/openhaystack.git
