/* 
 * Always set the map height explicitly to define the size of the div element
 * that contains the map. 
 */
 #map {
    height: 100%;
  }

  #sleepingCorgi img {
    max-width: 100%; /* makes sure the image is not bigger than the container */
    height: auto; /* keeps the aspect ratio of the image */
    scale: 0.5;
  }

  #header {
    text-align: center;
  }
  
  /* 
   * Optional: Makes the sample page fill the window. 
   */
  html,
  body {
    height: 100%;
    margin: 0;
    padding: 0;
  }
  